##
## NAMESPACE file for the xps package.
##
useDynLib(xps)

## packages
import(graphics, methods)

## S4 classes
exportClasses(ProjectInfo,
              TreeSet,
              Filter,
              PreFilter,
              UniFilter,
              SchemeTreeSet,
              ProcesSet,
              DataTreeSet,
              ExprTreeSet,
              CallTreeSet,
              FilterTreeSet,
              AnalysisTreeSet)

## class ProjectInfo
exportMethods("arrayInfo",
              "arrayInfo<-",
              "authorInfo",
              "authorInfo<-",
              "biopsyInfo",
              "biopsyInfo<-",
              "cellineInfo",
              "cellineInfo<-",
              "datasetInfo",
              "datasetInfo<-",
              "hybridizInfo",
              "hybridizInfo<-",
              "primcellInfo",
              "primcellInfo<-",
              "projectInfo",
              "projectInfo<-",
              "sampleInfo",
              "sampleInfo<-",
              "show",
              "sourceInfo",
              "sourceInfo<-",
              "tissueInfo",
              "tissueInfo<-",
              "treatmentInfo",
              "treatmentInfo<-")

## class TreeSet
exportMethods("export",
              "fileDir",
              "fileDir<-",
              "initialize",
              "root.browser",
              "rootFile",
              "rootFile<-",
              "setName",
              "setName<-",
              "setType",
              "setType<-",
              "treeNames")

## class SchemeTreeSet
exportMethods("attachMask",
              "chipMask",
              "chipMask<-",
              "chipName",
              "chipType",
              "chipType<-",
              "ncols",
              "nrows",
              "probeInfo",
              "removeMask")

## class ProcesSet
exportMethods("boxplot",
              "getTreeData",
              "hist",
              "mboxplot",
              "schemeFile",
              "schemeFile<-",
              "schemeSet",
              "schemeSet<-",
              "validData")

## class DataTreeSet
exportMethods("addData",
              "attachBgrd",
              "attachInten",
              "background",
              "background<-",
              "bgtreeNames",
              "image",
              "intensity",
              "intensity<-",
              "mm",
              "pm",
              "pmplot",
              "rawCELName",
              "removeBgrd",
              "removeInten",
              "validBgrd",
              "xpsBgCorrect",
              "xpsDABGCall",
              "xpsINICall",
              "xpsMAS5Call",
              "xpsMAS5",
              "xpsMAS4",
              "xpsNormalize",
              "xpsPreprocess",
              "xpsSummarize",
              "xpsRMA")

## class ExprTreeSet
exportMethods("attachExpr",
              "exprs",
              "exprs<-",
              "exprType",
              "exprType<-",
              "mvaplot",
              "normType",
              "normType<-",
              "removeExpr",
              "se.exprs",
              "xpsPreFilter",
              "xpsUniFilter")

## class CallTreeSet
exportMethods("attachCall",
              "attachPVal",
              "pvalData",
              "pvalData<-",
              "presCall",
              "presCall<-",
              "removeCall",
              "removePVal",
              "validCall",
              "callplot")

## class Filter
exportMethods("numberFilters")

## class PreFilter
exportMethods("callFilter",
              "callFilter<-",
              "cvFilter",
              "cvFilter<-",
              "diffFilter",
              "diffFilter<-",
              "gapFilter",
              "gapFilter<-",
              "highFilter",
              "highFilter<-",
              "lowFilter",
              "lowFilter<-",
              "madFilter",
              "madFilter<-",
              "quantileFilter",
              "quantileFilter<-",
              "ratioFilter",
              "ratioFilter<-",
              "varFilter",
              "varFilter<-")

## class UniFilter
exportMethods("fcFilter",
              "fcFilter<-",
              "unitestFilter",
              "unitestFilter<-",
              "uniTest",
              "uniTest<-")

## class FilterTreeSet
exportMethods("callTreeset",
              "exprTreeset")

## class AnalysisTreeSet
exportMethods("filterTreeset",
              "validFilter",
              "volcanoplot")

## functions
export(import.expr.scheme, import.exon.scheme, import.genome.scheme, import.data)
export(export.scheme, export.data, export.expr, export.call, export.filter, export.root)
export(rma, mas4, mas5, mas5.call, dabg.call)
export(dfw, farms, ini.call)
export(bgcorrect, normalize, summarize, express)
export(bgcorrect.mas4, bgcorrect.mas5, bgcorrect.rma, bgcorrect.gc)
export(normalize.constant, normalize.quantiles, normalize.lowess, normalize.supsmu)
export(summarize.mas4, summarize.mas5, summarize.rma)
export(boxplot.dev, image.dev, mvaplot.dev)
export(prefilter, unifilter)

## contructor functions
export(ProjectInfo)
export(PreFilter, UniFilter)

## root.functions
export(root.scheme, root.data, root.merge.data, root.expr, root.call)
export(root.image)
export(root.graph1D, root.graph2D, root.mvaplot)
export(root.hist1D, root.hist2D, root.hist3D)
export(root.density, root.profile)
#to do export(root.draw.leaves)

## utility functions
export(xpsOptions, debug.xps)
export(getDatatype, validTreetype)
export(getChipName, getChipType, getNameType, getProbeInfo)
export(getNumberTrees, getTreeNames)
export(isROOTFile, existsROOTFile)
export(type2Exten, exonLevel)
export(metaProbesets)


